.about-us-page {
}

.about-us-card {
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

ol {
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}
