.stock-chart {
  /* min-width: 350px;
  height: auto; */
  display: flex;
  justify-content: center;
}

.stock-details-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.stock-details {
  display: inline-flex;
}

.stock-info-box {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 200px;
  height: 100px;
  overflow: hidden;
  margin-top: 16px;
  margin-right: 12px;
}

.stock-info-box:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.value {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 12px;
  color: #666;
}

.stock-item-tooltip {
  max-width: 400px;
  min-width: 200px;
  max-height: 600px;
}

@media (max-width: 420px) {
  .stock-details-items {
    flex-direction: column;
  }

  .stock-info-box {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .stock-details-items {
    justify-content: flex-start;
  }
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
